# The global section defines parameters for all terminals. If you have only one
# terminal attached you can just use the global section instead of per-device
# sections. Sections have to be unique
[global]

# Sets the logging directory. The log file will be created as {LogDir}/TimApi_YYYYMMDD.log .
LogDir = .

# Set the log levels for different units:
# possible levels are: OFF, SEVERE, WARNING, INFO, FINE, FINER, FINEST
# the modules are: LogTerminal, LogBackend, LogStateMachine, LogComm
LogTerminal = FINEST
LogBackend = INFO
LogStateMachine = FINE
LogComm = FINER

# Sets the Terminal Identifier of the terminal to connect to if broadcast
# connection mode is used
TerminalId = 12345678

# Connection mode: Broadcast, OnFixIP, Serial
ConnectionMode = Broadcast

# IP and Port if fixed ip connection is used. Not used for broadcast mode
# ConnectionIPString = 192.168.99.10
ConnectionIPString = localhost
# ConnectionIPPort = 7784

# SerialPort and SerialBaudrate if serial connection
SerialPort = COM4
# SerialBaudrate = 115200


#BroadcastInterface = LAN-Verbindung

# Protocol type
ProtocolType = SIXMLTCP

# Pre/Post-Automatism
FetchBrands = On
AutoCommit = Off

# AutoShiftManagement = Off
# AutoShutterManagement = On
# CardInsertionTimeout = 60
# CardRemovalTimeout = 60
# CommitTimeout = 60
# Dcc = On
# PartialApproval = Off
# ProceedTimeout = 60
# TipAllowed = Off

# If you have more than one device configuration define them as individual
# sections. Use the section name during creating TerminalSettings instances
# to load the matching configuration.
# [MyTerminal]
# TerminalId = 12345678
